{% load static %}
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>

<!-- Template Javascript -->


<script src="{% static 'js/ru.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://kit.fontawesome.com/4f34fc37e3.js" crossorigin="anonymous"></script>
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% comment %} <script src="{% static 'js/ie6/ie6_main.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/node_scripts_src/ie6_main.js' %}"></script> {% endcomment %}


